#tabs-list li div.indented {
	padding : 0px;
}

#tabs-list li {
	font-size : 14px;
	font-weight : bold;
	color : gray;
	padding : 10px;
	border-style : solid;
}

#tabs-list li.selected {
	color : black;
	font-weight : bold;
}

#topic input {
	font-size : 16px;
}

#input input {
	font-size : 16px;
}
